.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #032974;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox___0DxNm {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-YU0SNZ3adfNoqw);
  width: 100%;
  min-width: 0;
}
.freeBox___0DxNm > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
}
.freeBox___0DxNm > :global(.__wab_flex-container) > *,
.freeBox___0DxNm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0DxNm > :global(.__wab_flex-container) > picture > img,
.freeBox___0DxNm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
}
@media (max-width: 930px) {
  .freeBox___0DxNm {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 930px) {
  .freeBox___0DxNm > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox___0DxNm > :global(.__wab_flex-container) > *,
  .freeBox___0DxNm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0DxNm > :global(.__wab_flex-container) > picture > img,
  .freeBox___0DxNm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__g84Ds {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 387px;
  height: 296px;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__g84Ds {
    justify-content: center;
    align-items: center;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 229px;
  max-height: 35px;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__kiFvi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: var(--token-i-jdXUyB4QGpy4);
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  font-size: 18px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__kiFvi {
    text-align: center;
    width: 100%;
    max-width: 346px;
    align-self: center;
    min-width: 0;
  }
}
.freeBox__tKc4O {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (max-width: 930px) {
  .freeBox__tKc4O {
    align-items: center;
    justify-content: center;
  }
}
.svg__dEe3G {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__agHc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg___9BJgz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__q46E {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.freeBox___2ECe5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 110px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox___2ECe5 {
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}
.h4__feTr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__feTr {
    text-align: center;
    margin-top: 53px;
  }
}
.button__s38Km:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (max-width: 930px) {
  .button__s38Km:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__hDzC6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__qxFvR {
  color: var(--token-i-jdXUyB4QGpy4);
}
.svg__kVqQp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__nhUvs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__nhUvs:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__iPjFh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__a2Ib6 {
  color: var(--token-i-jdXUyB4QGpy4);
}
.svg__z6Fbl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__zoOPa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__zoOPa:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__rVjR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__c6S3Q {
  color: var(--token-i-jdXUyB4QGpy4);
}
.svg__dXbm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__rg7Qc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 166px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__rg7Qc {
    justify-content: center;
    align-items: center;
  }
}
.h4___11Znz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4___11Znz {
    text-align: center;
    margin-top: 46px;
  }
}
.button__qwtCd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (max-width: 930px) {
  .button__qwtCd:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__iutj8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__rSfyn {
  color: var(--token-i-jdXUyB4QGpy4);
}
@media (max-width: 930px) {
  .text__rSfyn {
    text-align: center;
  }
}
.svg___8Wdp6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__vpRVj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__vpRVj:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___4WIfb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__etGnj {
  color: var(--token-i-jdXUyB4QGpy4);
}
@media (max-width: 930px) {
  .text__etGnj {
    text-align: center;
  }
}
.svg__k4Dub {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__k9Q3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 321px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__k9Q3 {
    justify-content: center;
    align-items: center;
  }
}
.h4__atZH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__atZH {
    text-align: center;
    margin-top: 46px;
  }
}
.text__tsguL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 249px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
  margin-top: 32px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__tsguL {
    text-align: center;
    align-self: center;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
}
@media (max-width: 930px) {
  .textInput:global(.__wab_instance) {
    height: 50px;
    width: 284px;
    flex-shrink: 0;
  }
}
.svg__cyhfq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__prsIr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__o5JB1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (max-width: 930px) {
  .button__o5JB1:global(.__wab_instance) {
    align-self: center;
    height: 50px;
    width: 284px;
    margin-bottom: 0px;
    flex-shrink: 0;
  }
}
.svg__cEtab {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (max-width: 930px) {
  .text__t0N6U {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
.svg__nvc0E {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 1px;
  margin-left: 24px;
}
.freeBox__zwoem {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
@media (max-width: 930px) {
  .freeBox__zwoem {
    align-self: center;
  }
}
.text__lVqdH {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 0px;
  color: var(--token-i-jdXUyB4QGpy4);
  margin-top: 100px;
}
