.root {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.freeBox___8OtIp {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: var(--token-yO8U6cXPSM_OFo);
  padding-top: 0px;
  padding-bottom: 0px;
  height: auto;
  max-height: 50px;
  min-width: 0;
}
.freeBox___8OtIp > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___8OtIp > :global(.__wab_flex-container) > *,
.freeBox___8OtIp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8OtIp > :global(.__wab_flex-container) > picture > img,
.freeBox___8OtIp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 930px) {
  .freeBox___8OtIp {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 930px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
  }
}
@media (max-width: 930px) {
  .freeBox___8OtIp > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox___8OtIp > :global(.__wab_flex-container) > *,
  .freeBox___8OtIp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___8OtIp > :global(.__wab_flex-container) > picture > img,
  .freeBox___8OtIp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.logo:global(.__wab_instance) {
  width: 100%;
  height: auto;
  max-width: 246px;
  max-height: 50px;
  min-width: 0;
  display: flex;
}
.freeBox___0HyMo {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  align-self: center;
}
.freeBox___0HyMo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___0HyMo > :global(.__wab_flex-container) > *,
.freeBox___0HyMo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0HyMo > :global(.__wab_flex-container) > picture > img,
.freeBox___0HyMo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (max-width: 930px) {
  .freeBox___0HyMo {
    display: flex;
    width: auto;
    max-width: none;
    max-height: 50px;
    margin-top: 26px;
  }
}
.button__cHgVa:global(.__wab_instance) {
  position: relative;
}
.svg__mpQoh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__yeOh2 {
  color: #000000;
  font-weight: 600;
  line-height: 19.5;
}
.svg__vh1Ds {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__t7G43:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button__t7G43:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.svg___62FnE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__iMkvh {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__qxkrA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___5VtGy:global(.__wab_instance) {
  position: relative;
}
.svg__z1VEt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__dfePi {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__cebgk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__lKgJo {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__lKgJo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
@media (max-width: 930px) {
  .freeBox__lKgJo {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 18px;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .freeBox__lKgJo > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__lKgJo > :global(.__wab_flex-container) > *,
  .freeBox__lKgJo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lKgJo > :global(.__wab_flex-container) > picture > img,
  .freeBox__lKgJo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.button___63WwW:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button___63WwW:global(.__wab_instance) {
    display: none;
  }
}
.svg__iQnt5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__u21UI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__dg5V5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__yMSfY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__voAcU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
